<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>atheMMMs</title>

    </head>
    <body>
        <style>

                    body {
                      background: rgb(177, 210, 211);
                      
                    }
                      .navbar {
                      background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
                    }
                    .navbar:not(.top-nav-collapse) {
                      background: transparent;
                    }
                    .navbar .navbar-brand img {
                      height: 40px;
                      margin: 10px;
                    }
                    .navbar.navbar-1 .navbar-toggler-icon {
                      background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
                    }
                    .hm-gradient {
                      background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
                    }
                    .heading {
                      margin: 0 6rem;
                      font-size: 3.8rem;
                      font-weight: 700;
                      color: #5d4267;
                    }
                    .subheading {
                      margin: 2.5rem 6rem;
                      color: #bcb2c0;
                    }
                    .btn.btn-margin {
                      margin-left: 6rem;
                      margin-top: 3rem;
                    }
                    .btn.btn-lily {
                      background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
                      color: #fff;
                    }
                    .title {
                      margin-top: 6rem;
                      margin-bottom: 2rem;
                      color: #5d4267;
                    }
                    .subtitle {
                      color: #bcb2c0;
                      margin-left: 20%;
                      margin-right: 20%;
                      margin-bottom: 6rem;
                    }
                  
        </style>
                  
        <!-- Main navigation -->
        <header>
            <!--Navbar -->
            <nav class="navbar navbar-1 navbar-expand-lg scrolling-navbar navbar-dark z-depth-0 fixed-top">
                <a class="navbar-brand" href="/">
                    <img src="/images/logo3.png" alt="atheMMMs">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
                    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
                </button>
            
                <div class="collapse navbar-collapse navbar-light navbar-1 white" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown dropdown-primary active">
                        <form action="/logout?_method=DELETE" method="POST">
                          <button type="submit" 
                            class="nav-link btn btn-dark btn-rounded waves-effect mr-2" >Logout <span class="sr-only">(current)</span>
                          </button>
                        </form>
                    </li>
                    </ul>
                </div>
            </nav>

            <section style="margin-top:50px">
                    <div class="container-fluid py-5">
                      <hr class="dashed">
                      <div class="row text-center align-items-end">

                        <!-- Personal Info-->
                        <div class="col-lg-3 mb-5 mb-lg-0">
                          <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
                            <h2 class="h1 font-weight-bold">$199<span class="text-small font-weight-normal ml-2">/ month</span></h2>
                  
                            <div class="custom-separator my-4 mx-auto bg-primary"></div>
                  
                            <ul class="list-unstyled my-5 text-small text-left">
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
                              <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i>
                                <del>Nam libero tempore</del>
                              </li>
                              <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i>
                                <del>Sed ut perspiciatis</del>
                              </li>
                              <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i>
                                <del>Sed ut perspiciatis</del>
                              </li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
                          </div>
                        </div>
                        <!-- END -->
                  
                  
                        <!-- Tickets-->
                        <div class="col-lg-5 mb-5 mb-lg-0">
                          <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Pro</h1>
                            <h2 class="h1 font-weight-bold">$399<span class="text-small font-weight-normal ml-2">/ month</span></h2>
                  
                            <div class="custom-separator my-4 mx-auto bg-primary"></div>
                  
                            <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Nam libero tempore</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                              <li class="mb-3 text-muted">
                                <i class="fa fa-times mr-2"></i>
                                <del>Sed ut perspiciatis</del>
                              </li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
                          </div>
                        </div>
                        <!-- END -->
                  
                  
                        <!-- Money-->
                        <div class="col-lg-4">
                          <div class="bg-white p-5 rounded-lg shadow">
                            <h1 class="h6 text-uppercase font-weight-bold mb-4">Enterprise</h1>
                            <h2 class="h1 font-weight-bold">$899<span class="text-small font-weight-normal ml-2">/ month</span></h2>
                  
                            <div class="custom-separator my-4 mx-auto bg-primary"></div>
                  
                            <ul class="list-unstyled my-5 text-small text-left font-weight-normal">
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Lorem ipsum dolor sit amet</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> At vero eos et accusamus</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Nam libero tempore</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                              <li class="mb-3">
                                <i class="fa fa-check mr-2 text-primary"></i> Sed ut perspiciatis</li>
                            </ul>
                            <a href="#" class="btn btn-primary btn-block p-2 shadow rounded-pill">Subscribe</a>
                          </div>
                        </div>
                        <!-- END -->
                  
                      </div>
                    </div>
                  </section>
        </header>

        <!--/.Navbar -->
        <!-- Main navigation -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>