<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>atheMMMs</title>

  </head>
  <body>
<style>

body {
    background-color: #fff;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100%;
    background-attachment: fixed;
  }
	.navbar {
    background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
  }
  .navbar:not(.top-nav-collapse) {
    background: transparent;
  }
  .navbar .navbar-brand img {
    height: 40px;
    margin: 10px;
  }
  .navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
  }
  .hm-gradient {
    background: linear-gradient(40deg, rgba(0,51,199,.3), rgba(209,149,249,.3));
  }
  .heading {
    margin: 0 6rem;
    font-size: 3.8rem;
    font-weight: 700;
    color: #5d4267;
  }
  .subheading {
    margin: 2.5rem 6rem;
    color: #bcb2c0;
  }
  .btn.btn-margin {
    margin-left: 6rem;
    margin-top: 3rem;
  }
  .btn.btn-lily {
    background: linear-gradient(40deg, rgba(0,51,199,.7), rgba(209,149,249,.7));
    color: #fff;
  }
  .title {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: #5d4267;
  }
  .subtitle {
    color: #bcb2c0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 6rem;
  }

</style>

<!-- Main navigation -->
<header>

  <!--Navbar -->
  <nav class="navbar navbar-1 navbar-expand-lg scrolling-navbar navbar-dark z-depth-0 fixed-top">
    <a class="navbar-brand" href="/">
      <img src="/images/logo3.png" alt="atheMMMs">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
        aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
    </span>
  </button>

    <div class="collapse navbar-collapse navbar-light navbar-1 white" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown dropdown-primary active">
          <a href="/login"
             class="nav-link btn btn-dark btn-rounded waves-effect mr-2">Login<span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <!--/.Navbar -->

  <!-- Intro -->
  <section class="view">

    <div class="row">

      <div class="col-md-6">
        <!-- Section -->
        <section>

          <style>
            .timeline {
              position: relative;
              list-style: none;
              padding: 1rem 0;
              margin: 0;
            }

            .timeline::before {
              content: '';
              position: absolute;
              left: 50%;
              top: 0;
              bottom: 0;
              width: 2px;
              margin-left: -1px;
              background-color: #474ae9;
            }

            .timeline-element {
              position: relative;
              width: 50%;
              padding: 1rem 0;
              padding-right: 2.5rem;
              text-align: right;
            }

            .timeline-element::before {
              content: '';
              position: absolute;
              right: -8px;
              top: 1.35rem;
              display: inline-block;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              border: 2px solid #50a1ff;
              background-color: #fff;
            }

            .timeline-element:nth-child(even)::before {
              right: auto;
              left: -8px;
            }

            .timeline-element:nth-child(even) {
              margin-left: 50%;
              padding-left: 2.5rem;
              padding-right: 0;
              text-align: left;
            }

            @media (max-width: 767.98px) {
              .timeline::before {
                left: 8px;
              }
            }

            @media (max-width: 767.98px) {
              .timeline-element {
                width: 100%;
                text-align: left;
                padding-left: 2.5rem;
                padding-right: 0;
              }
            }

            @media (max-width: 767.98px) {
              .timeline-element::before {
                top: 1.25rem;
                left: 1px;
              }
            }

            @media (max-width: 767.98px) {
              .timeline-element:nth-child(even) {
                margin-left: 0rem;
              }
            }

            @media (max-width: 767.98px) {
              .timeline-element {
                width: 100%;
                text-align: left;
                padding-left: 2.5rem;
                padding-right: 0;
              }
            }

            @media (max-width: 767.98px) {
              .timeline-element:nth-child(even)::before {
                left: 1px;
              }
            }

            @media (max-width: 767.98px) {
              .timeline-element::before {
                top: 1.25rem;
              }
            }
          </style>

          <h3 class="font-weight-bold text-center dark-grey-text " style="margin-top: 100px">How does it work?</h3>
          <hr class="w-header my-4">
          <div class="row">
            <div class="col-lg-8 mx-auto">

              <ol class="timeline">
                <li class="timeline-element">
                  <h5 class="font-weight-bold dark-grey-text mb-3">Log In</h5>
                  <p class="text-muted">Using your personal username and password you have been provided with.</p>
                </li>

                <li class="timeline-element">
                  <h5 class="font-weight-bold dark-grey-text mb-3">Check your balance</h5>
                  <p><img class="img-fluid z-depth-1-half rounded" src="/images/slider1.jpg" alt="..."></p>
                  <p class="text-muted">Once you have successfully logged into your account you will be able to see your tickets and your e-wallet balance.</p>
                </li>

                <li class="timeline-element">
                  <h5 class="font-weight-bold dark-grey-text mb-3">Add money to e-wallet</h5>
                  <p class="text-muted">If your e-wallet balance is too low just put more money via your credit card. We guarantee safe  transactions.</p>
                </li>

                <li class="timeline-element">
                  <h5 class="font-weight-bold dark-grey-text mb-3">Buy tickets</h5>
                  <p class="text-muted">You can choose from a plethora of ticket types. Pick and Mix.</p>
                </li>

                <li class="timeline-element">
                  <h5 class="font-weight-bold dark-grey-text mb-3">Travel</h5>
                  <p class="text-muted">Now you re free to travel around our city.</p>
                </li>
              </ol>

            </div>
          </div>

        </section>
        <!-- Section -->

      </div>

      <div class="col col-md-6">

        <div class="view">
          <img src="/images/right.jpg" class="img-fluid background" alt="sample image">
            <div class="mask flex-center hm-gradient">
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- Intro -->

</header>

<!-- Main navigation -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
